<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Creative - Bootstrap 3 Responsive Admin Template">
    <meta name="author" content="GeeksLabs">
    <meta name="keyword" content="Creative, Dashboard, Admin, Template, Theme, Bootstrap, Responsive, Retina, Minimal">
    <link rel="shortcut icon" href="admin/img/favicon.png">
    <title>{{title}}</title>
    <!-- Bootstrap CSS -->
    <link href="admin/css/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="admin/css/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="admin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="admin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="admin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
	<link href="admin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="admin/css/owl.carousel.css" type="text/css">
	<link href="admin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
	<link rel="stylesheet" href="admin/css/fullcalendar.css">
	<link href="admin/css/widgets.css" rel="stylesheet">
    <link href="fa/css/font-awesome.min.css" rel="stylesheet">
    <link href="admin/css/style.css" rel="stylesheet">
    <link href="admin/css/style-responsive.css" rel="stylesheet" />
	<link href="admin/css/xcharts.min.css" rel=" stylesheet">
	<link href="admin/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
  </head>

  <body>
  <!-- container section start -->
  <section id="container">
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/" class="logo">Admin <span class="lite">Dashboard</span></a>
            <!--logo end-->
            <div class="top-nav notification-row">
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img src="./uploads/{{session._id}}" class="img img-responsive" style="height:50px; width:50px;">
                            </span>
                            <span class="username">{{session.name}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="/userprofile"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="/fileupload"><i class="icon_clock_alt"></i> Profile Image</a>
                            </li>
                            <li>
                                <a href="/logout"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>
      <!--header end-->
      <!--sidebar start-->
      <div class="col-lg-2" style="margin-left:-20px; margin-top:20px;">
        <aside>
            <div id="sidebar"  class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="/dashboard">
                            <i class="icon_house_alt"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/users">
                            <i class="fa fa-users"></i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/userprofile">
                            <i class="fa fa-user"></i>
                            <span>User Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/posts">
                            <i class="icon_house_alt"></i>
                            <span>Posts</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/fileupload">
                            <i class="fa fa-picture-o"></i>
                            <span>Profile Image</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/dl">
                            <i class="fa fa-id-card"></i>
                            <span>Licence</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/vehicle">
                            <i class="fa fa-car"></i>
                            <span>Vehicles</span>
                        </a>
                    </li>
                    <li>
                        <a class="" href="/qr/{{session._id}}" target="_blank">
                            <i class="fa fa-qrcode"></i>
                            <span>QR</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
      </div>
      <!--sidebar end-->
      <div class="col-lg-10">
        {{{body}}}
      </div>
    </section>
    <!-- container section start -->

    <!-- javascripts -->
    <script src="admin/js/jquery.js"></script>
	  <script src="admin/js/jquery-ui-1.10.4.min.js"></script>
    <script src="admin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="admin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="admin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="admin/js/jquery.scrollTo.min.js"></script>
    <script src="admin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="admin/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="admin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="admin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="admin/js/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="admin/js/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
	<script src="admin/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="admin/js/calendar-custom.js"></script>
	<script src="admin/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="admin/js/jquery.customSelect.min.js" ></script>
	<script src="admin/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="admin/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="admin/js/sparkline-chart.js"></script>
    <script src="admin/js/easy-pie-chart.js"></script>
	<script src="admin/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="admin/js/jquery-jvectormap-world-mill-en.js"></script>
	<script src="admin/js/xcharts.min.js"></script>
	<script src="admin/js/jquery.autosize.min.js"></script>
	<script src="admin/js/jquery.placeholder.min.js"></script>
	<script src="admin/js/gdp-data.js"></script>
	<script src="admin/js/morris.min.js"></script>
	<script src="admin/js/sparklines.js"></script>
	<script src="admin/js/charts.js"></script>
	<script src="admin/js/jquery.slimscroll.min.js"></script>
  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () {
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});

  </script>

  </body>
</html>
