<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Free Bootstrap Theme by BootstrapMade.com">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">
  	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans|Raleway" rel="stylesheet">
  	<link rel="stylesheet" href="css/flexslider.css">
  	<link rel="stylesheet" href="css/bootstrap.min.css">
  	<link rel="stylesheet" href="css/font-awesome.min.css">
  	<link rel="stylesheet" href="css/style.css">
    <title>{{title}}</title>
    <style>
    .footer {
      bottom: 0;
      width: 100%;
      /* Set the fixed height of the footer here */
      height: 60px;
      background-color: #f5f5f5;
      }
    </style>
  </head>
  <body id="top" data-spy="scroll">
    <!--top header-->

  	<header id="home">

  		<section class="top-nav hidden-xs">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-6">
  						<div class="top-left">

  							<ul>
  								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  								<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
  								<li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
  								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  							</ul>

  						</div>
  					</div>

  					<div class="col-md-6">
  						<div class="top-right">
  							<p>Location:<span>BBAU Lucknow 226025</span></p>
  						</div>
  					</div>

  				</div>
  			</div>
  		</section>

  		<!--main-nav-->

  		<div id="main-nav">

  			<nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">MEAN App</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
  						  <li><a href="/">Home</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/licence">Licence</a></li>
                <li><a href="/users">Vehicle</a></li>
                <li><a href="/c_db">Traffic Rules</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/signin">Sign In</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
  		</div>

  	</header>
      {{{ body }}}
      <!--footer-->
  		<div id="footer">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-4">
  						<div class="footer-heading">
  							<h3><span>about</span> us</h3>
  							<p>To explore strange new worlds to seek out new life and new civilizations to boldly go where no man has gone before. It's time to play the music.</p>
  							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  						</div>
  					</div>

  					<div class="col-md-4">
  						<div class="footer-heading">
  							<h3><span>latest</span> news</h3>
  							<ul>
  								<li><a href="#">Trends don't matter, but techniques do</a></li>
  								<li><a href="#">Trends don't matter, but techniques do</a></li>
  								<li><a href="#">Trends don't matter, but techniques do</a></li>
  								<li><a href="#">Trends don't matter, but techniques do</a></li>
  							</ul>
  						</div>
  					</div>

  					<div class="col-md-4">
  						<div class="footer-heading">
  							<h3><span>follow</span> us on instagram</h3>
  							<div class="insta">
  								<ul>
  									<img src="images/footer/footer1.jpg" alt="">
  									<img src="images/footer/footer2.jpg" alt="">
  									<img src="images/footer/footer3.jpg" alt="">
  									<img src="images/footer/footer4.jpg" alt="">
  									<img src="images/footer/footer5.jpg" alt="">
  									<img src="images/footer/footer6.jpg" alt="">
  								</ul>
  							</div>
  						</div>
  					</div>

  				</div>
  			</div>
  		</div>

  		<!--bottom footer-->
  		<div id="bottom-footer" class="hidden-xs">
  			<div class="container">
  				<div class="row">
  					<div class="col-md-4">
  						<div class="footer-left">
  							&copy; MyBix Theme. All rights reserved
                              <div class="credits">
                                  <!--
                                      All the links in the footer should remain intact.
                                      You can delete the links only if you purchased the pro version.
                                      Licensing information: https://bootstrapmade.com/license/
                                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=MyBiz
                                  -->
                                  Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                              </div>
  						</div>
  					</div>

  					<div class="col-md-8">
  						<div class="footer-right">
                              <ul class="list-unstyled list-inline pull-right">
                                  <li><a href="#home">Home</a></li>
                                  <li><a href="#about">About</a></li>
                                  <li><a href="#service">Service</a></li>
                                  <li><a href="#portfolo">Portfolio</a></li>
                                  <li><a href="#contact">Contact</a></li>
                              </ul>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>



  	<!-- jQuery -->
      <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.flexslider.js"></script>
      <script src="js/jquery.inview.js"></script>
      <script src="js/script.js"></script>
      <script src="contactform/contactform.js"></script>
  </body>
  </html>
