<section class="wrapper">
  <div class="page-header">
    <h2><i class="fa fa-upload"></i>Update Profile Picture</h2>
  </div>
  <div class="form-group">
    <label class="label label-warning" id="lbl">{{msg}}</label>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form role="form" enctype="multipart/form-data" method="POST" action='/fileupload'>
        <div class="form-group">
          <label class="control-label">File Input</label>
          <input class="form-control" type="file" name="pic" required />
        </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-3">
      
    </div>
    <div class="col-sm-3">
      <img src="./uploads/{{session._id}}" class="img img-responsive img-thumbnail">
    </div>
  </div>
</section>  
<script type="text/javascript" language="javascript">
    $("#lbl").delay(1000).fadeOut(100);
</script>
