<section class="wrapper">
  <h1>Edit {{ title }}</h1>
    <div class="row">
        <div class="col-md-12">
            <form class="form" action="/update" method="post">
                <div class="form-group">
                    ID<input class="form-control" type="text" id="id" value="{{id}}" name="id" readonly="true">
                </div>
                <div class="form-group">
                    Name<input class="form-control" type="text" id="name" value="{{user.name}}" name="name">
                </div>
                <div class="form-group">
                    Email<input class="form-control" type="text" id="email" name="email" value="{{user.email}}">
                </div>
                <div class="form-group">
                    User Access Type<input class="form-control" type="text" id="userflag" name="userflag" value="{{user.userflag}}">
                </div>
                <div class="form-group">
                    Contact<input class="form-control" type="text" id="contact" name="contact" value="{{user.contact}}">
                </div>
                <button class="btn btn-success" type="submit">Update</button>
            </form>
        </div>
    </div>
</section>