<section class="wrapper">
<h1>{{title}}</h1>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-bordered" width="100%">
      <tr><th>Name</th><th>Contact</th><th>Email</th><th>Access Level</th><th>Edit</th><th>Delete</th></tr>
      {{# each user}}
      <tr>
        <td>{{this.name}}</td><td>{{this.contact}}</td><td>{{this.email}}</td><td>{{this.userflag}}</td><td>{{this.pass}}<a href="/updateuser/{{this.id}}"><button class="btn btn-warning">Edit</button></a></td><td><a href="/delete/{{this.id}}"><button class="btn btn-danger">Delete</button</a></td>
      </tr>
      {{/each}}
    </table>
    </div>
  </div>
</div>
</section>