<!--about-->
<div id="about">

  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="about-heading">
        <h2>Licence</h2>
        <p class="text-justify">A driving license is basically an official document issued by the Government of India, permitting individuals to operate or drive a motorised vehicle such as a car, motorbike, truck, bus, etc., on a public road, without any supervision. In India, a driving license is issued by the Regional Transport Authority (RTA) or Regional Transport Office (RTO) of that particular state. The Motor Vehicles Act of 1988 states that no individual without the Driving License is authorized to drive a motor vehicle in a public place.</p>
      </div>
    </div>
  </div>
  </div>

  <!--about wrapper left-->
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="about-left">
          <img src="images/about/driving-licence.png" style="margin-top:25px;" alt="">
        </div>
      </div>
      <!--about wrapper right-->
      <div class="col-xs-12 col-md-7">
        <div class="about-right">
          <div class="about-right-heading">
            <h1>About Driving Licence</h1>
          </div>

          <div class="about-right-boot">
            <div class="about-right-wrapper">
              <a href="#"><h3>Types of DL in India</h3></a>
              <p>Depending on the class of the vehicle, Indian applicants are awarded different driving licenses. Also, the eligibility criteria varies for driving licenses pertaining to different vehicle classes. Here are some of the popular vehicle classes for which a driving license can be obtained in India.</p>
            </div>
          </div>

          <div class="about-right-best">
            <div class="about-right-wrapper">
              <a href="#"><h3>Vehicle Type</h3></a>
            </div>
          </div>

          <div class="about-right-support">
            <div class="about-right-wrapper">
              <a href="#"><h3>24/7 Online Support</h3></a>
              <p>Michael Knight a young loner on a crusa champion the cause of the innocent. The helpless. powerless in a world of operate above the law.</p>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
