<div id="about">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="about-heading">
          <h2>Search</h2>
          <div class="col-lg-6"><input type="text" name="search-key" class="form-control"><hr></div>
          <div class="col-lg-6">
            <select class="form-control" name="catagory">
              <option>Vehicle</option>
              <option>Person</option>
            </select><hr>
          </div>
            <button class="btn btn-success btn-lg"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>
    </div>
  </div>
</div>
