<section class="wrapper col-lg-12">
<div style="float:right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
    Add Vehicle
  </button>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Your Vehicles</h3><label style="float:right" class="label label-warning" id="lbl">{{msg}}</label>
    <table class="table table-hover table-bordered" width="100%">
      <tr><th>Registration Number</th><th>Brand</th><th>Model</th><th>Color</th><th>RTO</th><th>CC</th><th>Delete</th></tr>
      {{# each vs}}
      <tr>
        <td>{{this.regnumber}}</td><td>{{this.brand}}</td><td>{{this.model}}</td><td>{{this.specs.color}}</td><td>{{this.rto}}</td><td>{{this.specs.cc}}</td><td><a href="/delete-post/{{this.id}}"><button id="del" class="btn btn-danger">Delete</button</a></td>
      </tr>
      {{/each}}
    </table>
  </div>
</div>
<!-- User Post Creation Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new Vehicle</h4>
      </div>
      <div class="modal-body">
        <form class="form" action="/add-vehicle" method="post">
            <div class="form-group">
                Brand<input class="form-control" type="text" name="brand">
            </div>
            <div class="form-group">
                Model<input class="form-control" type="text" name="model">
            </div>
            <div class="form-group">
                Registration Number<input class="form-control" type="text" name="regnumber">
            </div>
            <div class="form-group">
                RTO<input class="form-control" type="text" name="issuer">
            </div>
            <div class="form-group">
                Owner<input hidden="true" class="form-control" type="text" readonly value="{{session._id}}" name="owner">
            </div>
            <div class="form-group">
                Type of vehicle<select class="form-control" name="type">
                <option value="0">Select Vehicle Type</option>
                <option value="private">Private</option>
                <option value="public">Public</option>
                <option value="loader">Loader</option>
                <option value="heavy-loader">Heavy Loader</option>
                </select>
            </div>
            <div class="form-group">
                Color<input class="form-control" type="text" name="color">
            </div>
            <div class="form-group">
                Fuel<select class="form-control" name="fuel">
                <option value="0">Select a fuel</option>
                <option value="petrol">Petrol</option>
                <option value="diesel">Diesel</option>
                <option value="LPG">LPG</option>
                <option value="CNG">CNG</option>
                </select>
            </div>
            <div class="form-group">
                Passanger Capacity<input class="form-control" type="text" name="passengercap">
            </div>
            <div class="form-group">
                Fuel Injection (CC)<input class="form-control" type="text" name="cc">
            </div>
            <div class="form-group">
                Power (in HP)<input class="form-control" type="text" name="hp">
            </div>
            <button class="btn btn-success" type="submit">Create Post</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</section>
<script type="text/javascript" language="javascript">
  $("#lbl").delay(1000).fadeOut(100);
</script>
