<h1>{{title}}</h1>
<div style="float:right">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">
    Add Licence
  </button>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3>Your Driving Licence</h3><label style="float:right" class="label label-warning" id="lbl">{{msg}}</label>
    <table class="table table-bordered">
      <tr>
        <td class="col-lg-4">Name <label>{{session.name}}</label></td>
        <td class="col-lg-4">Driving Licence Number <label>{{dl.dlnumber}}</label></td>
        <td class="col-lg-4" rowspan="2"><img src="./uploads/{{session._id}}" class="img img-responsive img-thumbnail"></td>
      </tr>
      <tr>
        <td class="col-lg-4">Issued By <label>{{dl.issuer}}</label></td>
        <td class="col-lg-4">Issued By <label>{{dl.issuer}}</label></td>
      </tr>
    </table>
  </div>
</div>
<!-- DL Creation Modal -->
<div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add new Licence</h4>
      </div>
      <div class="modal-body">
        <form class="form" action="/add-dl" method="post">
            <div class="form-group">
                Name<input class="form-control" readonly type="text" id="name" value="{{session.name}}" name="name">
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                    Issuing Authority<input class="form-control" required type="text" id="issuer" value="" name="issuer">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                    Driver Licence Number<input class="form-control" required type="text" id="dlnumber" name="dlnumber">
                </div>
              </div>
            </div>
            <div class="form-group">
                Address<textarea class="form-control" type="text" required id="address" name="address"></textarea>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                    Pin Code<input class="form-control" type="text" id="pin" name="pin" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                    City<input class="form-control" type="text" id="city" name="city" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                    State<input class="form-control" type="text" id="state" name="state" required>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                    Country<input class="form-control" type="text" id="country" name="country" required>
                </div>
              </div>
            </div>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" language="javascript">
  $("#lbl").delay(1000).fadeOut(100);
</script>
